.div1{
    height: 50px;
    background-color: cyan;
}

.div2{
    height: 400px;
    background-color: darkgoldenrod;
    
}

.div3{
    height: 50px;
    background-color: cyan;
}

.div4{
    height: 50px;
    background-color: violet;
}